RESEND_API_KEY=REMOVED_SECRET
CONTACT_TO_EMAIL=hariharan002d@gmail.com
CONTACT_FROM_EMAIL=Portfolio <onboarding@resend.dev>
EMAIL_ASSET_BASE_URL=https://dheerajbuilds.com/email/images
EMAIL_FORM_RESPONSE_ASSET_BASE_URL=https://dheerajbuilds.com/form_response/images
